section {
    background-color: black;
    padding: 10px 20px 20px 20px;
    width: 540px;
    border-radius: 10px;
}

header {
    color: #f2c106;
    font-weight: bold;
    text-align: center;
    font-size: 45px;
}

iframe {
    border: 1px solid #f2c106;
    width: 200px;
    height: 150px;
}

iframe, ul {
    display: inline-block;
}

ul {
    list-style: none;
}

li>a {
    font-style: italic;
    color: white;
    text-decoration: none;
    font-size: 28px;
}