body {
    margin: 0px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 15px;
}

footer {
    width: 100%;
    background-color: black;
    color: white;
    float: left;
}

footer>section {
    vertical-align: top;
    margin: 20px 20px 10px 20px;
    width: 165px;
    display: inline-block;
}

footer>section>ul {
    padding: 0px;
    margin-bottom: 0px;
    list-style: none;
}

footer>section ul a
{
	color: #fff;
	text-decoration: none;
}

footer>section>p {
    font-size: 13px;
    color: #999;
    margin-top: 0px;
}

footer>section>header {
    font-size: 85%;
}

footer>section:nth-child(2)>ul {
    margin-left: 7px;
}

footer>section:nth-child(2)>ul>li {
    margin-bottom: 5px;
}

footer>section:first-child {
    font-size: 19px;
}