table {
    border: 1px solid black;
}

tbody tr {
    display: inline-block;
}

td {
    vertical-align: top;
}

h1 {
    text-align: left;
    margin-top: 0px;
    font-size: 2.5em;
}

pre {
    margin: 0px;
    font-size: 15px;
}